  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
            <h2>代表者より</h2>
            <div class="row">
              <p class="col-sm-8 col-sm-offset-2 text-faded text-left">2歳から18歳まで、香港とタイの日本人学校とインターナショナルスクールに通っていました。私ににとって香港もタイも外国であると言う感覚は特に無く、日本語はコミュニケーションツールの一つなだけでした。ところがある時、友人から借りた谷崎文学で日本語の美しさに気付かされました。文学を通して知る母国は、一時帰国で触れられる日本を劇的に豊かにしてくれました。あの驚きと喜びは、今でも忘れられません。海外で生活すると、継続して本を手に入れるのは簡単ではありません。幸いにも、香港とタイは世界有数の在外邦人の多い国の為、比較的苦労せずに本は手に入りました。しかし、補習校や小規模の日本人学校だったらどうだろう？子供達は本を手にしたいと思った時に、心ときめく本に出会えているだろうか？2015年のカンボジア日本人学校設立時に、そう気掛かりになり、友人と図書を集め新設校の図書館へ寄贈しました。想像以上に喜んで頂け、今後は世界中で暮らす、日本にルーツを持つ子供達に本を届けたい、日本の、そして日本語の世界に触れるきっかけを作って貰いたいと思い始めました。かつての私の様に、日本語を通して日本を豊かな視点で見つめる事が出来る様になるのではないかと願っています。</p>
            </div>
              <h2>協力関係者</h2>
              <ul>
                <li>山形まどか(代表)</li>
                <li>小鹿不二人</li>
                <li>菅野善久</li>
                <li>廣田健一郎</li>
                <li>山形呼</li>
              </ul>
              <a href="#page-top" class="page-scroll btn btn-default btn-xl wow tada">トップへ</a>
          </div>
      </div>
  </aside>
