  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>代表者の説明</h2>
              <p>説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 </p>

              <h2>協力関係者</h2>
              <ul>
                <li>関係者名</li>
                <li>関係者名</li>
                <li>関係者名</li>
                <li>関係者名</li>
              </ul>
              <a href="#page-top" class="page-scroll btn btn-default btn-xl wow tada">トップへ</a>
          </div>
      </div>
  </aside>
