<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">みなさんの協力が必要です</h2>
                <hr class="light">
                <p class="text-faded">
                  日本人は日本だけにいるわけじゃありません。世界中のありとあらゆるところで仕事をする日本人たちがいます。そしてそういう親を持った子供たちは、やはり世界中で地元の学校に通ったり、日本語を忘れないように補習校に通ったりしています。そんな補習校や小さな日本人学校の図書館には、あまりに少ない本しかありません。私たちはそんな子供たちに日本から本を届ける活動をしています。
                </p>
                <a href="#services" class="page-scroll btn btn-default btn-xl">一緒に本を届けましょう!</a>
            </div>
        </div>
    </div>
</section>
