<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h2 class="section-heading text-center">みなさんの協力が必要です</h2>
                <hr class="light">
                <p class="text-faded text-left">
                  日本人は、日本だけに住んでいるわけではありません。世界中のありとあらゆるところで、仕事をする日本人たちがいます。</p>
              
                <p class="text-faded text-left">
                  そして、そのような親を持った子供たちは、やはり世界中で地元の学校に通ったり、日本語を忘れないように補習校に通ったりしています。そんな補習校や小さな日本人学校の図書館には、ほんの僅かな本しかありません。</p>
                <p class="text-faded text-left">私たちは、そんな子供たちに、日本から本を届ける活動をしています。</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl">一緒に本を届けましょう!</a>
            </div>
            <p class="col-lg-3 col-lg-offset-9 text-right comment">2014年の在外邦人の数は、129万人をこえています。</p>

        </div>
    </div>
</section>
