<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">私たちの活動</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>たいせつな母国語の本</h3>
                    <p class="text-muted">子供たちが学習をするためにも、心を発達させるためにも、母国語の本はとても重要です。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>本を届ける</h3>
                    <p class="text-muted">日本で集めた本を海外の子供たちに届けます。</p>
                </div>
            </div>
            <!--
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>ここには何を書こう?</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>本を通して日本を伝えます</h3>
                    <p class="text-muted">世界中どこで暮らしていても、日本のことを知り続けてほしい。</p>
                </div>
            </div>

            <div class="col-lg-12 text-center" style="margin-top: 3em;">
                <h2 class="section-heading">活動内容</h2>
                <hr class="primary">
                  <p class="text-muted">
                    子供たちのための本を集め、精査し、リストを作成して荷物を作り、海外発送のための資金を集め、各地に送る。それが私たちの活動です。</p>
            </div>
            <div  class="col-lg-12 text-center">
                <div>
                  <h2 class="section-heading">今後の活動予定</h2>
                  <hr class="primary">
                  <p class="text-muted">現在、カンボジアのプノンペンの日本人学校へ本を送る活動をしています。</p>
                  <p class="text-muted">今後は、さらに多くの学校に本と日本を伝えたいと思っています。</p>
                  <p class="text-muted">活動に参加したい方や、本の寄贈を希望の方、本が欲しい学校関係の方からの連絡をお待ちしています。</p>
                </div>
            </div>
        </div>
    </div>
</section>
